@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, Arial;
}

h1 {
  font-size: x-large;
  font-weight: bolder;
}

h2 {
  font-size: large;
  font-weight: bold;
}

.description {
  color: #aaaaaa;
}

.card {
  background-color: #171717;
  border-radius: 20px;
}

a:link {
  color: #aaaaaa;
  text-decoration: underline;
}